<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>
Character Creation
</h1>
    <main>
        <h2>
            Choose Seeming
        <h2>
        <form method ="post" action =sheet_view.html>
        <label for="Seeming">please select</label>
        <select id="Seeming" name="Seeming">
        <option value="Fairest">Fairest</option>
        <option value="Beast">Beast</option>
        <option value="Elemental">Elemental</option>
        <option value="Darkling">Darkling</option>
        <option value="Ogre">Ogre</option>
        <option value="Wizened">Wizened</option>
        </select>
        ​<input type="submit" value="Submit">
        </form>
    </main>
</body>
</html>