/* custom font used in official Changeling the Lost products*/
@font-face {
  font-family: ChangelingHeader;
  src: url(./fonts/Rackham_Regular.woff);
}

@font-face {
  font-family: ChangelingHeader;
  src: url(./fonts/RackhamItalic_Regular.woff);
  font-style: italic;
}

/*second custom font used in Changeling Products*/

@font-face {
  font-family: ChangelingBody;
  src: url(./fonts/CalsonAntique.woff);
}

@font-face {
  font-family: ChangelingBody;
  src: url(./fonts/CaslonAntique-Bold.woff);
  font-style: bold;
}


  .ribbon{
    background-image: url("ChangelingCover.png");

    color: white;
    font-family: ChangelingBody;
    font-size: 30px;
    word-spacing: 15px;
    letter-spacing: 10px;
    height:100%;
    padding-top: 70px;
    height:600px;
    /*in order for text to be legible, four shadows are used to give the appearance of a black outline*/
    text-shadow: -2px -2px 0 #000,  
                  -2px -2px 0 #000,
                  -2px -2px 0 #000,
                  -2px -2px 0 #000;
    }
/* styling for the Character Creation segments, incorperating official graphics*/
    .creation {
      background-image: url("ChangelingCover.png");

        
        color: white;
        font-family: ChangelingBody;
        font-size: 30px;
        word-spacing: 15px;
        letter-spacing: 10px;
        width:100%;
        /*in order for text to be legible, four shadows are used to give the appearance of a black outline*/
        text-shadow: -2px -2px 0 #000,  
                      -2px -2px 0 #000,
                      -2px -2px 0 #000,
                      -2px -2px 0 #000;
        
        }

        .creation3 {
/*the formatting of the third creation segent required a degree of finesse*/
          background-image: url("ChangelingCover.png");
    
            
            color: white;
            min-height: 1200px;
            font-family: ChangelingBody;
            font-size: 30px;
            word-spacing: 15px;
            letter-spacing: 10px;
            /*in order for text to be legible, four shadows are used to give the appearance of a black outline*/
            text-shadow: -2px -2px 0 #000,  
                          -2px -2px 0 #000,
                          -2px -2px 0 #000,
                          -2px -2px 0 #000;
            
            }
        .creation3 h2{
          text-align: left;
        }
/*forms and inputs are styled to keep text aligned*/
      form{
        clear: both;
        width: 50%;
        text-align: left;
        padding-right: 25%;
        padding-left: 25%;
      }
      form input, form select{
        clear:both;
        width:15%;
        float:right;
        margin-left: 10px;
      }
      


      h3, h2{
        text-align: center;
      }

      #banner{
        background-image: url("ChangelingCover.png");
        width: 100%;
        height: 15%;
      }
/*this styles the smaller sections of the character sheet*/
      .majorAtts, .DiceRoller{
        font-family: ChangelingHeader;
        width: 95%;
        margin-left: auto;
        margin-right: auto; 
        text-align: center;
      }
      .majorAtts input, .DiceRoller input{
        float:left;
      }
      .DiceRoller{
        text-align: left;
      }
      .sheet{
        background-color: #28430a;
  
          color: white;
          font-family: ChangelingBody;
          font-size: 150%;
          word-spacing: 15px;
          letter-spacing: 10px;
          list-style-type:none;
          /*in order for text to be legible, four shadows are used to give the appearance of a black outline*/
          text-shadow: 2px 2px 0 #0f0c08, 2px 2px 0 #0f0c08, 2px 2px 0 #0f0c08, -1px -1px 0 #0f0c08;
          }

      .attributes, .skills {
        text-align:left;
        width: 100%;
        margin-left: auto;
        margin-right: auto; 
        background-color: #507b00;
        border-top: 5%;
        border-style: solid;
        border-color: white;
      }

      .attributes th{
        font-size: 150%;
      }

      .attributes td, .skills td{
        text-align: left;

      }
      .rating{
        float:right;
        margin-right: 35%;
        margin-left: 1%;
      }
      .merits{
        width: 100%;
        float:left;
        background-color: #95c22b;
        margin-top: 1%;
        text-align:left;
        margin-left: auto;
        margin-right: auto; 
        padding-left: 2%;
        padding-right: 2%;
      }

      .merits td{
        width: 20%;
      }

      .merits h2{
        text-align:left;
      }

      /*this specifically styles the derived section of the character sheet
      as it contains somewhat larger text*/
      .DerivedAtts td{
        font-size: 70%;
        font-family: ChangelingHeader;
        width: 100%;
        margin-left: auto;
        margin-right: auto; 
        text-align: center;
        padding-left: 2% ;
        padding-right: 2% ;

      }
    