/* custom font used in official Changeling the Lost products*/
@font-face {
  font-family: ChangelingHeader;
  src: url(./fonts/Rackham_Regular.woff);
}

@font-face {
  font-family: ChangelingHeader;
  src: url(./fonts/RackhamItalic_Regular.woff);
  font-style: italic;
}

/*second custom font used in Changeling Products*/

@font-face {
  font-family: ChangelingBody;
  src: url(./fonts/CalsonAntique.woff);
}

@font-face {
  font-family: ChangelingBody;
  src: url(./fonts/CaslonAntique-Bold.woff);
  font-style: bold;
}


  .ribbon{
    background-image: url("ChangelingCover.png");

    color: white;
    font-family: ChangelingHeader;
    font-size: 30px;
    word-spacing: 15px;
    letter-spacing: 14px;
    height:100%;
    padding-top: 70px;
    height:600px;
    /*in order for text to be legible, four shadows are used to give the appearance of a black outline*/
    text-shadow: -2px -2px 0 #000,  
                  -2px -2px 0 #000,
                  -2px -2px 0 #000,
                  -2px -2px 0 #000;
    }
/* styling for the Character Creation segments, incorperating official graphics*/
    .creation{
      background-image: url("ChangelingCover.png");

        color: white;
        font-family: ChangelingHeader;
        font-size: 30px;
        word-spacing: 15px;
        letter-spacing: 14px;
        width:100%;
        /*in order for text to be legible, four shadows are used to give the appearance of a black outline*/
        text-shadow: -2px -2px 0 #000,  
                      -2px -2px 0 #000,
                      -2px -2px 0 #000,
                      -2px -2px 0 #000;
        }

        .sheet{
          background-image: url("ChangelingCover.png");
    
            color: white;
            font-family: ChangelingHeader;
            font-size: 150%;
            word-spacing: 15px;
            letter-spacing: 14px;
            /*in order for text to be legible, four shadows are used to give the appearance of a black outline*/
            text-shadow: -2px -2px 0 #000,  
                          -2px -2px 0 #000,
                          -2px -2px 0 #000,
                          -2px -2px 0 #000;
            }

      form{
        clear: both;
        width: 50%;
        text-align: left;
        padding-right: 25%;
        padding-left: 25%;
      }
      form input, form select{
        clear:both;
        width:15%;
        float:right;
        margin-left: 10px;
      }
      
      h3, h2{
        text-align: center;
      }

      #banner{
        background-image: url("ChangelingCover.png");
        width: 100%;
        height: 15%;
      }

      .majorAtts{
        width: 70%;
        margin-left: auto;
        margin-right: auto; 
        text-align: center;
      }